@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px ;

}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}


/* Header */

.header-container {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 632px;

}

.header-logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 168px;
}

.page-header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 313px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}


.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding: 19px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: -2px;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: " ";
}

.page-header-link {
  text-decoration: none;
  display: block;
}
.icon-search {
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 13px;

}
.icon-favorite {
  background-image: url('../images/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
  min-width: 28px;
  min-height: 31px;
  padding: 10px 4px 21px 12px;
  margin-right: 20px;
}

.buttons-basic {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: #FFFFFF;

  padding: 8px 50px;

  background-color: #756157;
  border-radius: 4px;
}

.navigation-item,
.page-header-item {
  list-style-type: none;
}

/* Hero-block */

.hero {
  color: #000000;
  background-color: #493e3e;
  background-image: url("../images/divider.svg"),
  url("../images/index-background.jpg");

  background-position: bottom;
  text-align: center;
  background-size: cover;
  padding: 51px 0 82px;
  background-repeat: no-repeat;
}


/* Преимущества */
.advantages {
  padding-top: 69px;
}
.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 630px;
  margin: 0 auto 25px;
}

.advantages-description {
  text-align: center;
  margin: 0 auto 90px;
  width: 665px;
}

/* Список 1 */

.advantages-item {
  list-style-type: none;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.bg_basic_3 {
  background-color: #82B3D3;
  display: flex;

}
.bg_second_1 {
  background-color: rgba(131, 179, 211, 0.12);
  }
.bg_second_2 {
  background-color: rgba(131, 179, 211, 0.2);
  }

.advantages-list-title,
.advantages-list-description {
  margin: 0 auto;
}
.advantages-list-title-wrapper {
  width: 400px;
  padding-top: 92px;
}
.advantages-item-container {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 121px;
}
.advantages-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin-bottom: 30px;
}

.advantages-list-title-white {
  color: #FFFFFF;
}
.advantages-list-title-black {
  color: #000000;
}

.advantages-line {
  width: 60px;
  height: 2px;
  margin: 0 auto 30px;

}
.advantages-white-line  {
  background-color: rgba(255, 255, 255, 0.3);
}
.advantages-grey-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-list-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 233px;
  }
.advantages-list-description-white {
  color: #FFFFFF;
}



/* Второй список с иконками */

.advantages-details-card {
  list-style-type: none;
  width: 400px;
}
.advantages-details {
  display: flex;
  margin: 0;
  padding: 0;
}
.advantages-details-card {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 81px;
}

.advantages-details-image {
  margin-bottom: 30px;
}

.advantages-details-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 30px;
}
.advantages-details-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  margin: 0 auto;
}

/* Поиск гостиницы */
.booking {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}
.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;

  text-transform: uppercase;
  color: #000000;
}

.booking-description {
  width: 592px;
  margin: 0 auto 62px;

}

.booking-link {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  background: #756157;
  border-radius: 4px;

  text-decoration: none;
  padding: 13px 50px;
}

/* Подписаться на рассылку */

.newsletter {
  background-image: url("../images/background-news-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  padding: 96px 0;

}
.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  width: 452px;
  height: 52px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}
.newsletter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;

  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
}

/* Footer */
.footer-container {
  width: 1060px;
  display: flex;

  padding: 45px 0 35px;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 170px;
  display: flex;
  flex-wrap: wrap;

}

.footer-social-item {
  list-style-type: none;
  max-width: 47px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  width: 47px;
  text-align: center;
  position: relative;
}
.footer-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.footer-social-link:hover path,
.footer-social-link:focus path {
  fill: #68A2CA;
}
.footer-social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-tel {
  width: 720px;
  text-align: center;

}
.footer-tel-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.footer-tel-number:hover,
.footer-tel-number:focus {
  color: #756157;
}
.footer-tel-number:active {
  color: rgba(117, 97, 87, 0.3);
}
.footer-htmlacademy {
  width: 170px;
  text-align: right;
}
.footer-htmlacademy-link {
  display: inline-block;
}
.footer-htmlacademy-link:hover path,
.footer-htmlacademy-link:focus path {
  fill: #756157;
}
.footer-htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Каталог */
.filter-wrapper {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 70px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;

  color: #FFFFFF;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 8px 20px;
  background-position: center left 23px;
}

.breadcrumbs-item,
.catalog-filter-item,
.hotel-card,
.pagination-item {
  list-style-type: none;
}


.breadcrumbs-item-hotel {
  margin-left: 28px;
  cursor: pointer;
}

.breadcrumbs-link-home {
  background-image: url("../images/home-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 13px;
  min-height: 15px;
  padding: 3px 0;
  display: block;
  position: relative;
}

.breadcrumbs-link-hotel:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link-hotel:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog-products-filters {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.catalog-filter-title {
font-weight: 700;
font-size: 20px;
line-height: 24px;
padding: 0;
margin-bottom: 32px;

text-transform: capitalize;
color: #FFFFFF;
}
.catalog-filter {
  display: flex;
}
.catalog-filter-group {
  width: 151px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
}
.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}


.control-input {
  margin-bottom: 16px;
}
.catalog-filter-list {
  margin: 0;
  padding: 0;
}
.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

/* Инпуты с ползунком */
.catalog-group-input {
  width: 288px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
}

.range-wrapper-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
.range-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  padding: 12px 37px 12px 20px;
  width: 143px;
  box-sizing: border-box;
  appearance: textfield;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-from {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #FFFFFF4D;
  width: 287px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}
.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -1px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}


.button-container {
  width: 191px;
  margin-top: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;

  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.button-use {
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  margin-bottom: 32px;
}

.button-reset {
  border-radius: 4px;
  border: none;
  background: none;
}

.catalog-products-cards {
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
}

.hotel-amount-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-items: center;
}

.hotel-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: 200px;

  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  width: 292px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 10px 32px 10px 20px;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}
.select-control:active {
  border-color: #3F5E72;
}
.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button-toggle-container {
  min-width: 160px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.button-sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  border-radius: 4px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.button-sorting-current {
  border: 2px solid #000000;
}

.button-sorting + .button-sorting {
  margin-left: 8px;
}

.button-sorting:hover,
.button-sorting:active {
  outline: 2px solid #000000;
}
.button-sorting:focus {
  outline: 2px solid #68A2CA;
}

.hotel-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-image {
  margin-bottom: 16px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-type,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-btn-more {
  padding: 8px 26px;

  background-color: #756157;
  border-radius: 4px;
  margin-bottom: 16px;
}

.hotel-card-btn-favourite {
  padding: 8px 20px;

  background: #82B3D3;
  border-radius: 4px;
  border: none;
  margin-bottom: 16px;
}
.hotel-card-btn-selected {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;

  width: 95px;
  padding: 9px 22px 8px 23px;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  position: relative;
}

.pagination::before {
  content: " ";
  border-top: 1px solid #E6E6E6;
  width: 1060px;
  position: absolute;
  top: -40px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #FFFFFF;
  min-width: 60px;

  margin-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;

  background: #82B3D3;
  border-radius: 4px;
  display: block;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
  }

.pagination-link-more {
  color: #000000;
  background: none;
}
.pagination-link-state:hover,
.pagination-link-state:focus {
  background-color: #68A2CA;
}
.pagination-link-state:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-catalog {
  background-image: none;
}
.newsletter-title-catalog {
  color: #000000;
}
.newsletter-description-catalog {
  color: #333333;
}
.field-catalog {
  background: #F2F2F2;
}


/* Состояние кнопок */

.button-state-brown:hover,
.button-state-brown:focus  {
  background-color: #615048;
}
.button-state-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button-state-brown:disabled {
  background-color: #E5E5E5;
}


.button-state-blue:hover,
.button-state-blue:focus {
background-color: #68A2CA;
}
.button-state-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
.button-state-blue:disabled {
  background-color: #E5E5E5;
}

.hotel-card-btn-selected:hover,
.hotel-card-btn-selected:focus {
  background-color: #6C9E42;
}
.hotel-card-btn-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-card-btn-selected:disabled {
  background-color: #E5E5E5;
}


.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  outline: 3px solid #83B3D3;
}
.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-reset:disabled {
  opacity: 0.1;
}
